Flask
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-CORS
Flask-Migrate
langchain
langchain-community
PyPDF2
python-dotenv
bcrypt
requests
ollama
faiss-cpu
sentence-transformers
numpy
python-multipart
Werkzeug
pydantic
redis
